<form action="/ask/<%=@ask.id %>/update" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input class="form-control" type="text" name="question" value="<%=@ask.question%>">
    <input class="btn btn-info" type="submit" value="수정하기">
</form>