<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%=@msg.question %></li>
    <p>(<%=@msg.ip_address %>, <%= @msg.region %>)</p>

     <a href='ask' class='btn btn-info'> 목록 </a>
  </ol>
</nav>



